@charset "UTF-8";

body {
	margin: 0px;
}

#banner {
	height: 30vh;
	background-color: rgba(19, 37, 57, 1);
}

#channel-container {
	height: 10vh;
	background-color: rgba(24, 24, 24, 1);
}

#channel-header, #videos {
	padding-left: 30%;
}

#channel-header * {
	float: left;
}

#banner img {
	width: 40vw;
	margin: auto;
	display: block;
	padding-top: 5%;
}

#channel-container img {
	width: 8vh;
	padding-top: 1%;
}

#channel-header div {
	font-weight: 400;
	line-height: 3rem;
	font-size: 2.4rem;
	padding-top: 2%;
}

#channel-header div, a {
	color: white;
	font-family: Roboto, Arial, sans-serif;
}

#videos-container {
  height: 60vh;
  background-color: black;
	padding-top: 3%;
}

.thumbnail {
	height: 118px;
  width: 210px;
}

a {
  display: -webkit-box;
	max-height: 1.6rem;
	-webkit-box-orient: vertical;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	letter-spacing: normal;
	text-decoration: none;
}

ytd-thumbnail {
    display: inline-block;
    position: relative;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

ytd-thumbnail.ytd-grid-video-renderer {
    height: 118px;
    width: 210px;
}

ytd-thumbnail #thumbnail.ytd-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
