@charset "UTF-8";

body {
	margin: 0px;
}

div {
	margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

#banner {
	height: 20vw;
	background-color: rgba(19, 37, 57, 1);
}

#banner img, #channel-header, #videos {
	margin-left: 26%;
}

#links-holder, #links-holder a, #channel-container, span {
	display: flex;
}

#links-holder {
    height: 2.3vh;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(13, 26, 40);
    top: 220px;
    right: 16px;
    position: absolute;
    justify-content: flex-end;
}

#links-holder div {
	padding-top: 8px;
}


#links-holder a, #channel-container, span {
    align-items: center;
}

#links-holder a {
    padding: 10px;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

#banner #links-holder img {
	width: 16px;
	margin: 0;
	padding-left: 0px;
	padding-right: 2%;
}

#channel-container {
	height: 12vh;
	background-color: rgba(24, 24, 24, 1);
}

#channel-header {
	height: 46%;
	width: 50%;
}
#channel-header * {
	float: left;
}

#banner img {
	width: 45vw;
	margin-top: 7%;
}

#channel-container img {
	width: 7vh;
	margin-right: 1%;
}

#channel-header div {
	line-height: 3rem;
	font-size: 1.5rem;
	padding-top: 2%;
}

#channel-header div, a {
	color: white;
}

#channel-header div, span, a {
	font-family: 'Roboto', sans-serif;
}

#video-container {
	height: 1110px;
	background-color: rgb(15, 15, 15);
}

#videos {
	width: 55%;
	height: 90%;
	padding-top: 3%;
}

#place-holder span {
	height: 65%;
	color: black;
	background-color: white;
	text-align: center;
	justify-content: center;
}

form {
	height: 100%;
}

#place-holder {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 65%;
	background-color: white;
	cursor: pointer;
}

#yt-icon {
	height: 24px;
	width: 24px;
	margin-right: 16px;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex: none;
}

button {
	display: none;
}
a img {
	width: 100%;
}

.video {
	height: 184px;
	width: 210px;
	float: left;
	margin-right: .5%;
	margin-bottom: 2%;
}

.video * {
	font-size: 14px;
}

.video-title {
	display: -webkit-box;
	margin: 8px 0 8px;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 2;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: normal;
	text-decoration: none;
}

span {
	color: rgb(170, 170, 170);
}

@media screen and (max-width: 1500px) {

	#channel-header {
		margin-left: 10%;
	}

	#videos {
		width: 90%;
		margin-left: 5%;
		padding-top: 6%;
	}
}
