@charset "UTF-8";

body {
	margin: 0px;
}

#banner {
	height: 20vw;
	background-color: rgba(19, 37, 57, 1);
}

#banner img, #channel-header, #videos {
	margin-left: 26%;
}

#links-holder, #links-holder a, #channel-container, span {
	display: flex;
}

#links-holder {
    height: 2.3vh;
    background-color: rgb(13, 26, 40);
    top: 220px;
    right: 16px;
    position: absolute;
    justify-content: flex-end;
}

#links-holder a, #channel-container, span {
    align-items: center;
}

#links-holder a {
    padding: 10px;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

#banner #links-holder img {
	width: 16px;
	margin: 0;
	padding-left: 0px;
	padding-right: 2%;
}

#channel-container {
	height: 12vh;
	background-color: rgba(24, 24, 24, 1);
}

#channel-header {
	height: 46%;
	width: 50%;
}
#channel-header * {
	float: left;
}

#banner img {
	width: 45vw;
	margin-top: 7%;
}

#channel-container img {
	width: 7vh;
	margin-right: 1%;
}

#channel-header div {
	line-height: 3rem;
	font-size: 1.5rem;
	padding-top: 2%;
}

#channel-header div, a {
	color: white;
}

#channel-header div, span, a {
	font-family: 'Roboto', sans-serif;
}

#video-container {
	height: 70vh;
	background-color: rgb(15, 15, 15);
}

#videos {
	width: 55%;
	height: 90%;
	padding-top: 3%;
}

#place-holder span {
	height: 65%;
	color: black;
	background-color: white;
	text-align: center;
	justify-content: center;
}

#place-holder {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 65%;
	background-color: white;
	cursor: pointer;
}

#yt-icon {
	height: 24px;
	width: 24px;
}

button {
	display: none;
}
a img {
	width: 100%;
}

.video {
	height: 184px;
	width: 210px;
	float: left;
	margin-right: .5%;
	margin-bottom: 2%;
}

.video * {
	font-size: 14px;
}

.video-title {
	display: -webkit-box;
	margin: 8px 0 8px;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 2;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: normal;
	text-decoration: none;
}

span {
	color: rgb(170, 170, 170);
}


/* Overlay */

#overlay-background {
	display: none;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#overlay {
	display: none;
	width: 960px;
	max-height: 1192px;
    max-width: 1277px;
    outline: none;
    z-index: 2202;
    position: fixed;
    top: 0px;
    left: 158.5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px, rgba(0, 0, 0, 0.4) 0px 11px 15px -7px;
    border-radius: 6px;
    margin: 48px 0;
    height: 100%;
    min-height: 492px;
    min-width: 960px;
    overflow-x: hidden;
    transition: opacity 150ms cubic-bezier(0.4, 0.0, 1, 1);
    background: #ffffff;
    color: rgb(33, 33, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#header {
	display: flex;
	align-items: center;
	padding-left: 24px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: calc(64px - 1px);
    margin: 0;
    background: transparent;
}

#header div {
	font-family: Roboto, Noto, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	line-height: 28px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 675px;
    margin-right: 16px;
}

#header svg {
	display: block;
	height: 24px;
	width: 24px;
    margin-left: auto;
    fill: rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

#file-picker {
	display: flex;
	flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 370px;
    width: 42.5%;
    height: auto;
    margin: auto;
    padding: 16px 24px 0 24px;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
}

#circle {
	width: 136px;
    height: 136px;
    background: #ebebeb;
    position: relative;
    border-radius: 68px;
    overflow: hidden;
    margin-top: auto;
}

#arrow-group {
	position: absolute;
    top: calc(68px - 52px/2);
    left: calc(68px - 40px/2);
    width: 40px;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

#arrow {
	position: relative;
    width: 38px;
    height: 36px;
    flex: none;
    align-self: center;
}

#arrow-tip {
	animation-name: arrow-tip-desqueez;
    animation-timing-function: cubic-bezier(0.60, 0.00, 1.00, 1.00);
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 21px solid #949494;
    position: absolute;
    top: 0;
    z-index: 30;
}

#smoke {
	background: white;
    opacity: 0.5;
    width: 36px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: calc(19px - 36px/2);
    z-index: 10;
    transform: translateY(0px) scale(1, 0);
}

#arrow-line {
	animation-name: arrow-line-desqueez;
    animation-timing-function: cubic-bezier(1.00, 0.00, 1.00, 1.00);
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
    width: 16px;
    height: 16px;
    background: #949494;
    position: absolute;
    top: 20px;
    left: 11px;
    z-index: 30;
}

#arrow-underline {
	flex: none;
    align-self: center;
    width: 40px;
    border-bottom: 6px solid #949494;
    margin-top: 10px;
}

#file-picker p {
    height: auto;
	font-family: Roboto, Noto, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 24px;
    margin-top: 23px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    --ytcp-feature-discovery-zindex: 3000;
}

#select-file-button {
	margin-top: calc(32px - 6px);
    margin-bottom: auto;
    color: white;
    background-color: #065FD4;
    padding-left: 16px;
    padding-right: 16px;
    --ytcp-button-icon-color: inherit;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    min-width: 36px;
    height: 36px;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0;
    position: relative;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size: 14px;
    line-height: 20px;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --ytcp-feature-discovery-zindex: 3000;
}

#select-file-button div {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    flex: 1 1;
    padding: calc(24px - 15px) 0 calc(12px - 5px);
}

#save {
    width: 100%;
    margin-top: var(--profile-spacing);
    border-color: rgb(129, 191, 119);
    background-color: rgb(164,234,148);
}

@media screen and (max-width: 1500px) {
	
	#channel-header {
		margin-left: 10%;
	}
	
	#videos {
		width: 90%;
		margin-left: 5%;
		padding-top: 6%;
	}
}